#root {
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 120vh;
}

.hero-background {
  width: 65%;
  height: auto;
  position: absolute;
  right: 0;
  top: -18%;
  z-index: -1;
}

.hero-foreground {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
}

.landing-info {
  height: 85%;
  width: 40%;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buy-now {
  padding-right: 8rem;
  width: 2rem;
  text-align: center;
}

.buy-now-button {
  background-color: var(--primary-button-background);
  color: white;
  padding: 4px 28px;
  border-radius: 3px;
  font-size: 14px;
  border: 0;
}

.outlined-button {
  border: 2px solid var(--primary-button-background);
  color: var(--primary-button-background);
  background-color: transparent;
  padding: 2px 28px;
  border-radius: 3px;
  font-size: 14px;
}

.button-container {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.spacer-button-right,
.margin-right {
  margin-right: 2rem;
}

.landing-title {
  color: #091133;
  font-size: 42px;
  font-weight: 500;
  text-align: left;
}

.landing-desc {
  color: #505f98;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.pricing-desc {
  text-align: center;
}

.margin-top-2 {
  margin-top: 2rem;
}

.mobile-landing-section {
  flex-direction: row;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.landing-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: #344078;
}

.landing-intro-div {
  width: 80%;
}

.landing-intro-info-align-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.landing-graphic {
  flex: 1;
}

.third-graphic {
  flex: 1;
  background-image: url("./assets/third-section.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.fourth-graphic {
  flex: 1;
  background-image: url("./assets/fourth-section.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.fifth-graphic {
  flex: 1;
  background-image: url("./assets/fifth-section.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}

.column-section {
  justify-content: center;
  align-items: flex-start;
}

.feature-title {
  color: #091133;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1.5rem;
}

.feature-desc {
  font-size: 12px;
  color: #5d6970;
  font-weight: 400;
  text-align: left;
  margin-top: 0.5rem;
}

.seperator {
  flex: 1;
}

.bottom-section {
  flex-direction: row;
  display: flex;
  height: 90vh;
  width: 100%;
  background-image: url("./assets/bottom.svg");
  justify-content: center;
  align-items: center;
}

.bottom-pricing-info {
  width: 60%;
  justify-content: center;
  align-items: center;
}

.feature-section-margin {
  margin-top: 4rem;
}

.pricing-section-button {
  margin-top: 1rem;
}

/* Mobile Styles: Hide menu by default on small screens */
@media (max-width: 1024px) {
  .container {
    height: 130vh;
  }
}

@media (max-width: 800px) {
  .landing-info {
    width: 100%;
    margin: 0 6%;
  }

  .hero-foreground {
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    top: 8%;
  }

  .landing-title {
    font-size: 38px;
  }

  .landing-desc {
    font-size: 14px;
  }

  .buy-now-button {
    font-size: 12px;
  }

  .outlined-button {
    padding: 3px 18px;
    font-size: 12px;
  }

  .landing-background {
    position: absolute;
    z-index: -1;
    justify-content: center;
    width: 100vw;
    opacity: 0.3;
  }

  .button-container {
    width: 100%;
  }

  .buy-now-button {
    padding: 4px 18px;
  }

  .mobile-landing-section {
    flex-direction: column;
    height: 120vh;
  }

  .mobile-landing-section-reverse {
    height: 120vh;
    flex-direction: column-reverse;
  }

  .landing-title {
    font-size: 32px;
  }

  .landing-intro-div {
    margin-top: 2rem;
    width: 90%;
  }

  .feature-graphic {
    margin-top: 14rem;
  }

  .bottom-pricing-info {
    width: 90%;
  }

  .landing-intro-info {
    width: 90%;
  }

  .feature-section-margin {
    margin-top: 2rem;
  }

  .pricing-section-button {
    margin-top: 0.5rem;
  }

  .mobile-extra-landing-section {
    height: 140vh;
  }
}

@media (max-width: 400px) {
  .landing-title {
    font-size: 28px;
  }

  .landing-info {
    width: 100%;
    margin: 0 6%;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .buy-now-button {
    padding: 4px 24px;
    min-width: 12rem;
  }

  .outlined-button {
    min-width: 12rem;
    padding: 3px 24px;
    margin-top: 1rem;
    font-size: 10px;
  }

  .spacer-button-right {
    margin-right: 0;
  }

  .landing-intro-div {
    width: 90%;
  }

  .mobile-extra-landing-section {
    height: 160vh;
  }
}
