:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #505F98;
  background-color: "#F0F0F0";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-button-background: #111B47;
}

a {
  font-weight: 500;
  color: #505F98;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

